<%- include("../partials/header") %>

<h1>This image has been identified as <%= info.name %></h1>

<img src="<%= info.image %>" alt="<%= info.name %>">

<p><%= info.content %></p>

<%- include("../partials/footer") %>